body {
  background-color: pink;
}
 p {
  font-family: sans-serif;
  font-size: 30px;
}
.box {
  border-left: 8px solid white;
  border-right: 8px solid white;
  border-top: 8px solid black;
  border-bottom: 8px solid black;
}
